* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
  background-color: #0b0c12;
}

main {
  max-width: 540px;
  border-radius: 15px;
  position: relative;
  text-align: center;
  padding: 48px;
  padding-bottom: 66px;
  background-color: #242833;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 22px 70px 4px;
}

h1 {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #068be4;
}

main > img {
  margin-top: 40px;
  max-width: 100%;
}

p {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 24px;
  color: #c0c5cc;
  animation: show 0.3s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

div {
  position: absolute;
  width: calc(100% - 96px);
  bottom: -32px;
}

button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #068be4;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #18a0fb;
  box-shadow: #18a0fb 0 0 40px 4px;
}
